# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data — raw data never committed to git
data/raw/
data/processed/

# Models
models/*.pkl

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
